<div class="layout-container">
  
  <div class="sidebar">
    <app-tipo-selector (tipoSeleccionado)="onTipoFiltrado($event)"></app-tipo-selector>
  </div>

  <div class="main-content">
    
    <h2>Lista de Cafés</h2>

    <div *ngIf="errorCarga" class="alert-error">
      {{ errorCarga }}
    </div>

    <table *ngIf="cafes.length > 0" class="cafe-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <td>{{ cafe.id }}</td>
          <td>{{ cafe.name }}</td>
          <td>{{ cafe.description }}</td>
          <td>{{ cafe.tipo.name }}</td>
          <td>
             <a [routerLink]="['/cafes/editar', cafe.id]" class="btn-accion btn-editar">Editar</a>
             <button (click)="borrarCafe(cafe.id)" class="btn-accion btn-borrar">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="cafes.length === 0 && !errorCarga" class="empty-state">
      <p>📭 No hay cafés para mostrar.</p>
      <p>¡Usá el botón <b>"+ Nuevo Café"</b> arriba a la derecha para crear uno!</p>
    </div>

  </div>

</div>